{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    {% if opcao == 'Eventos' %}
        <div class="alert alert-info" role="alert"><strong>>> Cadastro de {{ opcao }}</strong></div>
        <form method="post">
            {% csrf_token %}
            {{form | bootstrap}}
          <div align="left">
              <button type="submit" class="btn btn-primary" style="width:150px">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  Cadastrar
              </button>
              <a class="btn btn-success" href="{% url 'ionibus:eventos_consulta'%}" style="width:150px">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  Consultar
              </a>
              <a class="btn btn-info" href="{% url 'ionibus:painel'%}" style="width:150px">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                  Sair
              </a>
          </div>
        </form>
    {% endif %}

    {% if opcao == 'Congregacao' %}
        <div class="alert alert-info" role="alert"><strong>>> Cadastro de Congregação</strong></div>
        <form method="post">
            {% csrf_token %}
            {{form | bootstrap}}
          <div align="left">
              <button type="submit" class="btn btn-primary" style="width:150px">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  Cadastrar
              </button>
              <a class="btn btn-success" href="{% url 'ionibus:congregacao_consulta'%}" style="width:150px">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  Consultar
              </a>
              <a class="btn btn-info" href="{% url 'ionibus:painel'%}" style="width:150px">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                  Sair
              </a>
          </div>
        </form>
    {% endif %}

    <br/>
{% endblock %}