{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3> Relatório de Ônibus </h3>
                </div>

                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ligula metus. Pellentesque auctor mauris sed ipsum convallis tempor.
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3> Relação de Passageiros </h3>
                </div>

                <div class="panel-body">
                    Vivamus nec efficitur purus. Nullam vestibulum felis nunc, at euismod ligula accumsan eu. Nullam et mattis urna. Ut libero nibh, bibendum eu rutrum eu, bibendum vitae ligula.
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> Cadastro de Congregações </h3>
                </div>

                <div class="panel-body">
                    Proin mattis dictum metus, in euismod ligula malesuada mattis. Phasellus ac condimentum mauris. Vestibulum rhoncus neque nec sapien vulputate eleifend.
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3> Envio da Relação </h3>
                </div>

                <div class="panel-body">
                    Proin sodales a tortor eu ullamcorper. Integer at velit eu leo feugiat iaculis ut ac dui. Donec non tortor a nisi fermentum malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3> Envio pelo WhatsApp </h3>
                </div>

                <div class="panel-body">
                    Quisque gravida turpis at lectus faucibus semper. Fusce mi magna, bibendum a lectus sit amet, venenatis semper est. Donec pulvinar nulla ac lacus feugiat, quis feugiat lacus tincidunt.
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3> Cadastro de Capitães </h3>
                </div>

                <div class="panel-body">
                    Curabitur quis leo ac turpis ullamcorper maximus. Phasellus venenatis justo a mi bibendum, et sodales odio tempor. Donec tempus auctor fermentum. Duis luctus dui quis viverra aliquam.
                </div>

            </div>
        </div>

    </div>
{% endblock %}